<h1>Questions and Answers</h1>

<h3>Click on the queston for details</h3>
<br>
<ol>
  {{#each model.questions as |question|}}
    <li>
      {{#link-to 'question' question.id}}
        {{question.content}}
      {{/link-to}} <br>
    <strong>  Asked by: </strong> {{question.author}} <br>
    <strong> Additional Notes: </strong> {{question.notes}}
    </li>
    <br>
  {{/each}}
</ol>

<!-- call new-question to handle adding new question -->
{{new-question saveQuestion2="saveQuestion3"}}
